

img {
    max-width: 80%;
	border: 0;
	vertical-align: middle;
	color: transparent;
	font-size: 0
}

<style type="text/css">
img {
    max-width: 80%;
	border: 0;
	vertical-align: middle;
	color: transparent;
	font-size: 0
}
</style>

