<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.lovejjfg.blogdemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <meta-data
        android:name="UMENG_CHANNEL"
        android:value="${GRADLE_CHANNEL_VALUE}" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">

        </activity>
        <activity android:name=".activity.SlidToFinishActivity" />
        <activity android:name=".activity.BrowserActivity" />
        <activity
            android:name=".activity.BrowserActivity2"
            android:theme="@style/AppTheme.VR">

        </activity>
        <activity
            android:name=".activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/NormalTheme" />
        <activity android:name=".activity.FlowActivity" />
        <activity android:name=".activity.FangshiActivity" />
        <activity
            android:name=".activity.BottomSheetActivity"
            android:theme="@style/AppTheme.BottomSheet" />
        <activity
            android:name=".activity.Main2Activity"
            android:theme="@style/NormalTheme">
        </activity>
        <!--VR相关-->
        <activity
            android:name=".activity.VRActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/title_activity_vr"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.VR">

        </activity>
        <activity android:name=".LockListActivity"
            android:theme="@style/NormalTheme"
            >
        </activity>
        <activity android:name=".utils.crop.CropImageActivity" />
        <!--activity-alias可以用来轻松改变对应的启动Activity-->
        <activity-alias
            android:name="target"
            android:targetActivity=".LockListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>